In [ ]:
d = {}
d

{}

In [2]:
type(d)

dict

In [3]:
d1 = {1: 'one', 2: 'two', 3: 'three',4:'four'}
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [4]:
d1.keys()  # Get the keys of the dictionary

dict_keys([1, 2, 3, 4])

In [5]:
d1.values()  # Get the values of the dictionary

dict_values(['one', 'two', 'three', 'four'])

In [6]:
d1.items()  # Get the key-value pairs of the dictionary

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [7]:
d1[0]  # Accessing a key that does not exist will raise a KeyError

KeyError: 0

In [8]:
d1[1]  # Accessing a value by its key

'one'

In [9]:
d1[3]  # Accessing another value by its key

'three'

In [ ]:
d1['two'] #  in Dictionaries the keys are important values are not important

KeyError: 'two'

In [11]:
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [12]:
d1.get(1)  # Using get() to access a value by its key, returns None if key does not exist

'one'

In [14]:
d1.get(6)

In [15]:
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [16]:
for i in d1:
    print(i)

1
2
3
4

In [17]:
for i in d1:
    print(i, d1[i])

1 one
2 two
3 three
4 four

In [18]:
id(d1)

2427573828160

In [19]:
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [21]:
d1.pop(4)

'four'

In [22]:
d1

{1: 'one', 2: 'two', 3: 'three'}

In [25]:
d1[5] = 'five'  # Adding a new key-value pair

In [26]:
d1

{1: 'one', 2: 'two', 3: 'three', 5: 'five'}

In [27]:
d1.remove(5)
d1

AttributeError: 'dict' object has no attribute 'remove'

In [28]:
d1.remove(5, 'five')

AttributeError: 'dict' object has no attribute 'remove'

In [29]:
d1

{1: 'one', 2: 'two', 3: 'three', 5: 'five'}

In [30]:
d1[10] = 'ten'  # Adding another new key-value pair

In [31]:
d1

{1: 'one', 2: 'two', 3: 'three', 5: 'five', 10: 'ten'}