In [1]:
def hello():
    print("Good Evening")

In [2]:
def hello(): # This function prints a greeting message
    print("Good Evening")

hello() # Calling the function to execute its code

Good Evening

In [3]:
def hello(): # This function prints a greeting message
    print("Good Evening")

hello() # Calling the function to execute its code



def hello(): # This function prints a greeting message
    print("Good Evening")

hello() # Calling the function to execute its code



def hello(): # This function prints a greeting message
    print("Good Evening")

hello() # Calling the function to execute its code



def hello(): # This function prints a greeting message
    print("Good Evening")

hello() # Calling the function to execute its code

Good Evening
Good Evening
Good Evening
Good Evening

In [4]:
def hello(): #this function without arguments
    print("Good Evening")



hello()
hello()
hello()
hello()

Good Evening
Good Evening
Good Evening
Good Evening

In [5]:
def add(x,y):# this function with  2 arguments
# in this code x is  position 5 and y is position 6
    c = x + y
    print(c)

add(5,6)    # Calling the function with arguments

11

In [6]:
def add(x,y,z) : # this function with 3 arguments
    c = x + y + z
    print(c)

add(5,6,7)    # Calling the function with arguments

18

In [7]:
def add(x,y,z) : # this function with 3 arguments
    c = x + y + z
    return c #in  function we use return statement avoid print statement

add(5,6,7)    # Calling the function with arguments

18

In [8]:
def hello(): #this function without arguments
    print("Good Evening")


def add(x,y,z) : # this function with 3 arguments
    c = x + y + z
    return c


hello()
add(5,6,7)    # Calling the function with arguments

Good Evening

18

In [9]:
def greet():
    print("Hello, Good Evening!")

def add(x, y, z):
    d = x + y + z
    print(d)        

def subtract(x, y):
    e = x - y
    print(e)
    

greet()
add(5, 30, 15)
subtract(30, 5)

Hello, Good Evening!
50
25

In [10]:
def add_sub(x, y): #in this case have 2 operations add and sub so we can return both values in tuple form

    c = x - y
    d = x + y   

    return c, d

add_sub(30, 5) #the output will be (25, 35) in tuple form

(25, 35)

In [11]:
def add_sub(x, y):

    c = x - y
    d = x + y   

    return c, d

result = add_sub(30, 5) #the output will be (25, 35) in tuple form
print(result)
print(type(result))

(25, 35)
<class 'tuple'>

In [12]:
def add_sub(x, y):

    c = x - y
    d = x + y   

    return c, d

result, result2 = add_sub(30, 5) #the output will be 25 and 35 in integer form
print(result)
print(result2)

print(type(result))
print(type(result2))

25
35
<class 'int'>
<class 'int'>

In [13]:
def add_sub_mul(x, y):

    c = x - y
    d = x + y   
    e = x * y

    return c, d, e

result, result2, result3 = add_sub_mul(30, 5) #the output will be 25, 35 and 150 in integer form
print(result)
print(result2)
print(result3)

print(type(result))
print(type(result2))
print(type(result3))

25
35
150
<class 'int'>
<class 'int'>
<class 'int'>

FUNCTION ARGUMENT IS 2 PART

1  FORMAL ARGUMENT



2  CTUAL ARGUMENT

In [14]:
def update() :
    x = 8 
    print(x)

update()

8

In [15]:
def add(x,y):# x and y are called formal arguments(mention at the time of function definition)
    c = x + y
    print(c)

add(5,6)    # 5 and 6 are called actual arguments(used at the time of function call)

11

ACTUAL ARGUMENT IN 5 PART

1 POSITION

2 KEYWORD

3 DEAULT

4 VARIABLE LENGTH

5 KEYWORD-VARIABE(KWARGS)

In [16]:
# positional arguments
def person(name, age):
    print("Name:", name)
    print("Age:", age)

person("Alice", 30  )

Name: Alice
Age: 30

# positional arguments

In [17]:
# positional arguments
def person(name, age):
    print(name)
    print(age)

person(30, "Alice"  )

30
Alice

In [18]:
# positional arguments
def person(name, age):
    print(name)
    print(age - 1)

person(30, "Alice"  )

30

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
# positional arguments
def person(name, age):
    print(name)
    print(age - 1)

person("Alice" , 30  )

Alice
29

# keyword arguments

In [ ]:
# keyword arguments

def person(name, age):
    print(name)
    print(age)

person("Alice", 30)

Alice
30

In [ ]:
# keyword arguments

def person(name, age):
    print(name)
    print(age + 1)

person(30, "Alice")

30

TypeError: can only concatenate str (not "int") to str

In [ ]:
# keyword arguments

def person(name, age):
    print(name)
    print(age + 1)

person(age=30, name="Alice")
# this concept is called keyword arguments

Alice
31

# default arguments

In [ ]:
# default arguments

def person(name, age=30):
    print(name)
    print(age)

person("Alice")
# this is called default arguments

Alice
30

In [ ]:
# default arguments

def person(name, age=30):
    print(name)
    print(age)

person("Alice", 25)
# this is called default arguments

Alice
25

# variable length argument

In [ ]:
def sum(a,b):
    c = a+b
    print(c)

sum(5,6)

11

In [2]:
def sum(a,b):
    c = a+b
    print(c)

sum(5,6,7,8,9,4,3)

TypeError: sum() takes 2 positional arguments but 7 were given

In [ ]:
def sum(a,*b):
    c = a+b
    print(c)
# a = int and b = tuple but int and tupl not combain
sum(5,6,7,8,9,4,3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [4]:
def sum(a,*b):
   # c = a+b
    #print(c)
    print(type(a))
    print(type(b))

sum(5,6,7,8,9,4,3)

<class 'int'>
<class 'tuple'>

In [ ]:
def sum(a, *b):
    c = a

    for i in b:
        c = c + i
    print(c)
#is called  variable length argument


sum(5,6,7,8,9,4,3)

42

In [10]:
def sum(a, *b):
    c = 0

    for i in b:
        c = c + i
    print(c)
#is called  variable length argument


sum(5,6,7,8)

21

In [11]:
def sum(a, *b):
    c = 9

    for i in b:
        c = c + i
    print(c)
#is called  variable length argument


sum(5,6,7,8)

30

In [ ]:
def sum(a, *b):
    c = a

    for i in b:
        c = c + i
    print(c)

#is called  variable length argument

sum(5,6,7,8,9,4,3,-100,55,44,33,22,)

96

# kwargs (keyword argument + variable length argument)

In [12]:
def person():
    person('Alex', 34, 'John',9877567)

In [13]:
def person(name, *data):
    print(name)
    print(data)

person('Alex', 34, 'John', 8977567)

Alex
(34, 'John', 8977567)

In [14]:
def person(name, *data):
    print(name)
    print(data)

person('Alex', age = 34, add = 'John',  mob = 8977567)

TypeError: person() got an unexpected keyword argument 'age'

In [15]:
def person(name, **data):
    print(name)
    print(data)

person('Alex', age = 34, add = 'John',  mob = 8977567)

Alex
{'age': 34, 'add': 'John', 'mob': 8977567}

In [17]:
def person(name, **data):
    print(name)
    print(data)

person('Alex', age = 34, add = 'John',  mob = 8977567, bank = 'icici', degree = 'phd')

Alex
{'age': 34, 'add': 'John', 'mob': 8977567, 'bank': 'icici', 'degree': 'phd'}