In [1]:
i = 1
while i <= 10:  # condition
    print("Data Science")
    i = i +  1  # increment

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science

In [2]:

i = 10
while i >= 1:  # condition
    print(" data science")
    i = i - 1  # decrement

 data science
 data science
 data science
 data science
 data science
 data science
 data science
 data science
 data science
 data science

In [3]:
i = 1 

while i <= 5:  # when we mention end then new line will not be created
    print("Data Science")


    j = 1
    while j <= 4:  
        print("Technology")
        j = j + 1  

    i = i + 1
    print()
    

    #the output which we got is very lengty but how t make them one line

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [4]:
i = 1 

while i <= 5:  # when we mention end then new line will not be created
    print("Data Science", end=" ")

    j = 1
    while j <= 4:  
        print("Technology", end=" ")
        j = j + 1

    i = i + 1
    print()


    #the output which we got is very lengty but how to make them one line

Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology

In [9]:
i = 1
while i <= 2 :
    j = 0 
    while j <= 2 :
        print(i*j , end='\t')
        j += 1
    print()
    i += 1

0	1	2
0	2	4

In [13]:
i =  1 
while i <= 4 :
    j = 0
    while j <= 3:
        print(i*j, end='\t')
        j += 1
    print()
    i += 1

0	1	2	3
0	2	4	6
0	3	6	9
0	4	8	12

FOR LOOP

In [14]:
name = 'AR ANSARI'

for i in name :
    print(i)

A
R

A
N
S
A
R
I

In [15]:
for i in [2, 34, 6.5,'hi']:
    print(i)

2
34
6.5
hi

In [19]:
for i in range(5) :
  print(i)

0
1
2
3
4

In [20]:
for i in range(2,10) :
  print(i)

2
3
4
5
6
7
8
9

In [21]:
for i in range(1, 15, 3) :
  print(i)

1
4
7
10
13

In [23]:
for i in range(1,51) :
  if i%5 == 0 :
    print(i)

5
10
15
20
25
30
35
40
45
50

In [27]:
for i in range(1,31) :
  if i%3 == 0 :
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(1,51) :
  if i%5 == 0  or  i%3 == 0 : # 5 and 3 ka tabel is print between 1 to 51
    print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

In [ ]:
for i in range(1,51) : # 5 ka table is not print between 1 to 50
  if i%5 != 0 :
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [ ]:
# write the code user ask chockle from vendor machin write the basic code

x = int(input('How many choclet you want ?'))  #user defin 

i = 1 
while i <= x:
    print('choclet')
    i += 1

choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet

3 KEYWORDS 
    i CONTINUE
    ii PASS
    iii  BREAK

In [32]:
ava = 5  # the machin has only 5 choclet

x = int(input('How many choclet you want ?'))  #user defin 

i = 1 
while i <= x:
    if i > ava:
        break
    print('choclet')
    i += 1

choclet
choclet
choclet
choclet
choclet

In [41]:
for i in range(1,11) :
    if i == 3 :
         continue
    print("Hello",i)

Hello 1
Hello 2
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [40]:
for i in range(1,11) :
    if i == 6 :
         break
    print("Hello", i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [38]:
for i in range(1,11) :

_IncompleteInputError: incomplete input (3924340548.py, line 1)

In [39]:
for i in range(1,11) :
    pass

In [45]:
for i in range(1,51) :
    if i%5 == 0 or i%3 == 0:    # 5 and 3 ka tabel is print between 1 to 51

        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [46]:
print('# # # # #')
print('# # # # #')
print('# # # # #')
print('# # # # #')
print('# # # # #')

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [48]:
for i in range(1,5) :
    i = i+1
    print('# # # # #')

# # # # #
# # # # #
# # # # #
# # # # #

In [50]:
for i in range(1,10) :
    i = i+1
    print('# # # # # # # # # # #')

# # # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # #

In [52]:
for i in range(1,5) :
    if i<=5:
     print('# # # # #')

# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
for i in range(5):
    print('#')

#
#
#
#
#

In [54]:
for i in range(5):
    print('# # # # #')

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
for i in range(5):
    print('#', end=" ")


    
for j in range(5):
    print('#', end=" ")

# # # # # # # # # #

In [57]:
for i in range(5):
    print('#', end=" ")

print()
    
for j in range(5):
    print('#', end=" ")

# # # # #
# # # # #

In [59]:
for i in range(5):
    for j in range(i+1):
         print('#', end=" ")

    print()

#
# #
# # #
# # # #
# # # # #

In [71]:
for i in range(1,5):
        print("# \t" * i)

#
# 	#
# 	# 	#
# 	# 	# 	#

In [72]:
for i in range(1,5):
    for j in range(4):
        if i>j :
            print("#", end=" ")
    print()

#
# #
# # #
# # # #

In [75]:
for i in range(4):
    for j in range(4-i):
        
            print("#", end=" ")
    print()

# # # #
# # #
# #
#

In [76]:
for i in range(1,5):
    print("#" *(5-i))

####
###
##
#

In [77]:
num = [12,32,30,20,15,44,33,22]
for num in num :
    if num % 5 == 0:
        print(num)

30
20
15

In [79]:
num = [12,32,30,20,15,44,33,22]
for num in num :
    if num % 5 == 0:
        print(num)
        break

30

In [82]:
num = [12,32,30,20,15,44,33,22]
for num in num :
    if num % 5 == 0:
        print(num)
        continue

30
20
15

In [84]:
num = [12,33,44,66,34,24,32,37]
for num in num :
    if num % 5 == 0:
        print(num) # jitna nhi num variabe me value h ge utna hi output aye ge
        break
    else:
        print("Number is not found")

Number is not found
Number is not found
Number is not found
Number is not found
Number is not found
Number is not found
Number is not found
Number is not found