In [4]:
s = {}
type(s)#set and dict are both as assing with {}

dict

In [5]:
s1 = set()# Create an empty set and deffine
s1

set()

In [6]:
s2 = tuple()# Create an empty tuple and define
s2

()

In [7]:
s3 = list()# Create an empty list and define
s3

[]

In [8]:
s1 = {48,78,32,6,4,3,2,8,}
s1

{2, 3, 4, 6, 8, 32, 48, 78}

In [9]:
type(s1)

set

In [10]:
s2 = {'z','c','a','b','d','e','f','g','h','i','j'}
s2

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'z'}

In [11]:
print(s1)
print(s2)

{32, 2, 3, 4, 6, 8, 78, 48}
{'f', 'g', 'c', 'd', 'h', 'i', 'e', 'a', 'j', 'b', 'z'}

In [12]:
len(s1) #length of set
len(s2) #length of set

11

In [13]:
len(s1) #length of set

8

In [14]:
s3 = {1+2j, 3.14, 'hello', True} # Create a set with mixed data types  
s3

{(1+2j), 3.14, True, 'hello'}

In [15]:
s1

{2, 3, 4, 6, 8, 32, 48, 78}

In [16]:
s1.add(3) # Add an element to the set & duicate not allowed because it is overwrite
s1

{2, 3, 4, 6, 8, 32, 48, 78}

In [17]:
s1.add(100) # Add an element to the set
s1

{2, 3, 4, 6, 8, 32, 48, 78, 100}

In [18]:
s1.add(5) # Add an element to the set
s1

{2, 3, 4, 5, 6, 8, 32, 48, 78, 100}

In [19]:
print(s1)#unordered output

{32, 2, 3, 4, 100, 6, 5, 8, 78, 48}

In [20]:
s2

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'z'}

In [21]:
s2.clear()#all elements are clear from the set

In [22]:
s2

set()

In [23]:
s3 = s1.copy()#copy the set
s3

{2, 3, 4, 5, 6, 8, 32, 48, 78, 100}

In [24]:
print(s1)
print(s2)
print(s3)

{32, 2, 3, 4, 100, 6, 5, 8, 78, 48}
set()
{32, 2, 3, 4, 100, 6, 5, 8, 78, 48}

In [25]:
s1[1:3]# indexing and sliceing not allowed in set

TypeError: 'set' object is not subscriptable

In [ ]:
s1

In [ ]:
s1.pop()#randamly remove an element from the set

In [ ]:
s1

In [ ]:
s1.pop()#remove the last element from the set

In [ ]:
s1

In [ ]:
s1.pop(2)#remove the last element from the set
s1

In [ ]:
s1.remove(78) # Remove an element from the set
s1

In [ ]:
s1.remove(66) # Remove an element from the set
s1

In [ ]:
s1

In [ ]:
s1.discard(66) # Remove an element from the set without error if not found

In [ ]:
66 in s1 # Check if an element is in the set

In [ ]:
5 in s1 # Check if an element is in the set

In [ ]:
s1

In [ ]:
s1.discard(8)
s1

In [ ]:
s1.add(100) # Add an element to the set

In [ ]:
s1

SET OPERATION

In [53]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {3,4,5,6,7,8}
c = { 20, 30, 40, 50}

In [52]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [50]:
a.union(b,c) # multipel arguments passing in union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50}

In [51]:
a | b | c  # union operation using pipe operator

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50}

In [47]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8}
{40, 50, 20, 30}

In [48]:
a.intersection(b) # intersection operation same vaue in both set

{3, 4, 5, 6, 7, 8}

In [46]:
a.intersection(c)

set()

In [44]:
a & b # intersection operation using ampersand operator

{3, 4, 5, 6, 7, 8}

In [45]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8}
{40, 50, 20, 30}

In [41]:
a.difference(b) # difference operation same vaue in both set

{1, 2, 9, 10}

In [42]:
b.difference(a) # difference operation same vaue in both set & not comman elemnts

set()

In [43]:
a.difference(c) # difference operation same vaue in both set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
a-b

{1, 2, 9, 10}

In [38]:
b-a

set()

In [37]:
c-b

{20, 30, 40, 50}

In [36]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8}
{40, 50, 20, 30}

In [35]:
a&b # only common elements in both sets

{3, 4, 5, 6, 7, 8}

In [33]:
a- b # comman elements remove in both sets

{1, 2, 9, 10}

In [34]:
a|b #all elements in both sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [32]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8}
{40, 50, 20, 30}

In [26]:
a.difference_update(c)

NameError: name 'a' is not defined

In [31]:
b

{3, 4, 5, 6, 7, 8}

In [30]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8}
{40, 50, 20, 30}

In [29]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {3,4,5,6,7,8}
c = { 20, 30, 40, 50}

In [54]:
a1 = {1,2,3,4,5,6,7,8,9,}
b1 = {3,4,5,6,7,8}
c1 = { 10,20, 30, 40, 50}

In [55]:
print(a1)  
print(b1)  
print(c1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{50, 20, 40, 10, 30}

In [ ]:
a1.issuperset(b1)#like as dad

True

In [ ]:
b1.issubset(a1) #like as son

True

In [ ]:
c1.isdisjoint(a1)  #like as neighbor

True

In [60]:
c1.isdisjoint(b1)

True

In [61]:
a1.isdisjoint(b1) # Check if two sets have no elements in common

False

In [62]:
b1.isdisjoint(a1) # Check if two sets have no elements in common

False

In [64]:
a2 = {1,2,3,4,5,6,7,8,9,}
b2 = {35,45,55,56,75,85}
c2 = { 10,20, 30, 40, 50}

In [65]:
print(a2)
print(b2)
print(c2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{35, 85, 55, 56, 75, 45}
{50, 20, 40, 10, 30}

In [66]:
a2.issubset(b2)

False

In [67]:
b2.issuperset(a2)

False

In [69]:
a2.isdisjoint(b2)
c2.isdisjoint(b2)

True

In [79]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [71]:
sum(A)  # Sum of all elements in the set

45

In [72]:
max(A)  # Maximum element in the set

9

In [73]:
min(A)  # Minimum element in the set

1

In [74]:
len(A)  # Length of the set

9

In [75]:
list(enumerate(A))  # Enumerate the set to get index and value pairs

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [77]:
D=sorted(A,reverse=True)  # Sort the set and return a list
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [78]:
M=sorted(A,reverse=False)  # Sort the set and return a list
M

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]